<!DOCTYPE html>
<html ng-app="modone">
    
    <head >
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.js"></script>
        <script src="js/libs/appmodule.js"></script>
        
        <link rel="stylesheet" href="css/bootstrap.css">
        <title>Blueprints</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <select ng-controller="plan_control">
            <option  ng-repeat="o in posts" value="{{o}}">
                {{o}}
            </option>
        </select>
        
        <button ng-click="loadData()"> X </button>
    
    </head>
    
    <body>

        <span>
          {{23+17}}
        </span>
        
    </body>
</html>
