<!DOCTYPE html>
<html ng-app="modone">
    
    <head >
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.js"></script>
        <script src="js/libs/appmodule.js"></script>
        
         <link rel="stylesheet" href="css/bootstrap.css">
        <title>Blueprints</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <select ng-model="variable">
            <option  ng-repeat="o in variable" value="{{o}}">
            {{o}}
            </option>
        </select>
    
    </head>
    <body >

        <span>
          {{23+17}}
        </span>
        
    </body>
</html>
